<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/styles/home.css">
    <link href="/styles/courses.css" rel="stylesheet">
    <link href="/styles/output.css" rel="stylesheet">
</head>

<script type="module" src="/main_anim.js"></script> -->

<section class="flex  bg-[#293519] h-8 w-full pt-2">
    <div class="container">
        <div class=""></div>
    </div>
</section>

<!--Scholarship heading-->
<div class="block">
    <div class="pt-[50px] mt flex flex-row items-center">
        <div class="flex items-center">
            <div class="h-10 border-l-4 border-red-600 pr-3"></div>
            <h1 class="text-4xl font-semibold text-[#223318] pr-3 ">Scholarship Application</h1>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>
</div>

<div class="block pb-14">
    <p>
        Bright College of Nursing provides financial assistance to eligible <span
            class="font-semibold text-xl">SC/ST</span> students through () scholarships. Students who meet the
        criteria can apply for scholarship by submittng the following <span class="font-semibold text-xl">mandatory
            documents.</span>

    </p>
    <h2 class="text-2xl font-medium">Documents required for Scholarship Application</h2>
    <ul class="li-bullet">
        <li>Income Certificate of current year
        </li>
        <li>Caste Certificate</li>
        <li>vbvn</li>
        <li>Bank Passbook linked with Aadhar card</li>
        <li>Recent Passport size photographs x3</li>
    </ul>
    <div class=" flex flex-row items-center pt-5">
        <div class="flex items-center">
            <div class="h-10 border-l-4 border-red-600 pr-3"></div>
            <h1 class="text-3xl font-semibold text-[#223318] pr-3 ">Important Notes</h1>
        </div>
    </div>
    <ul class="li-bullet">
        <li>Comprehensive Cirriculum
        </li>
        <li>Expert Faculty</li>
        <li>Well equipped lab facilities</li>
    </ul>

    <p class="text-justify font-semibold">"Apply for Scholarship to pursue your Nursing education at Bright College
        of Nursing
        without any financial burden."
    </p>
</div>