.layout-container--footer {
  padding-inline: 3rem;
}

.site-footer {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary),
    var(--color-accent2)
  );
  color: var(--color-altText);
  margin-top: 4rem;
  padding: 2rem 0 2rem 0;
}

.footer-main {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 400px;
  column-gap: 3rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  color: var(--color-altText);
  margin-bottom: 1.5rem;
}

.footer-list li {
  margin-bottom: 0.75rem;
  /* underline_text; */
}

.footer-list a {
  color: var(--color-altText);
  text-decoration: none;
  font-size: 0.95rem;
  composes: underline_text;
}

.institute-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  color: var(--color-altText);
}

/* Social */
.footer-social {
  display: flex;
  gap: 1.25rem;
}

.footer-social a {
  color: var(--color-altText);
  font-size: 1.25rem;
}

/* Language switch */
.footer-language {
  display: flex;
  gap: 1.5rem;
}

.footer-language h6 {
  color: var(--color-altText);
}

/*  Copyright  */
.footer-copy {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .footer-main {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .footer-nav-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-logo img {
    max-width: 160px;
  }

  .footer-nav {
    align-items: center;
    text-align: center;
    margin-inline: auto;
  }
}
