p {
  font-size: 16px;
  line-height: 2rem;
  text-align: justify;
  padding-top: 4px;
  padding-bottom: 4px;
}

.container-director-photo {
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
