/* =========================
   Announcements
   ========================= */
#announcements {
  scroll-margin-top: 10rem;
}

.announcements {
  margin-top: 3rem;
}

.announcements__bar {
  display: flex;
  align-items: center;
  border: 4px solid #b22222;
  outline: 8px solid #000;
  background-color: #fff;
  min-height: 3.5rem;
}

.announcements__label {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  height: 49px;

  font-weight: 700;
  font-size: 1.1rem;
  white-space: nowrap;

  border-right: 3px solid #b22222;

  z-index: 2;
}

.announcements__label::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 24px;

  background: url("../Images/SVG/hm-news-arroww.svg") no-repeat center;
  background-size: contain;

  z-index: 3;
}

.announcements__viewport {
  flex: 1;
  overflow: hidden;
}

.announcements__list {
  display: inline-flex;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;

  gap: 1rem;
  will-change: transform;
}

.announcements__item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  font-size: 1.1rem;
  font-weight: 600;
}

.announcements__item::before {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #b22222;
  margin-right: 0.5rem;
}

.announcements__item::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;

  background: url("../Images/SVG/circle-check.svg") no-repeat center;
  background-size: contain;
}

.announcements__item a {
  color: #000;
  text-decoration: none;
}

.announcements__item a:hover,
.announcements__item a:focus-visible {
  text-decoration: underline;
}

#announcements-mobile {
    display:none;
  }

/* =========================
   Responsive Enhancements
   ========================= */

@media (max-width: 768px) {

   #announcements-desktop {
    display:none;
  }

  #announcements-mobile {
    display:block;
    margin: 2rem;
    margin-bottom: 0;
  }

  .mobile-header {
    display: flex;
    gap: 1rem;
  } 

  #announcements-mobile input[type="radio"] {
  display: none;
}

/* header layout */
.mobile-header {
  display:flex;
  gap:4px;
  margin-bottom: -1px; 
}

.mobile-header label {
  flex:1;
  text-align:center;
  padding:8px 14px;

  border-bottom:none;
  border-radius:6px 6px 0 0;

  font-size:1.2rem;
  font-family: var(--font-heading);
  cursor:pointer;
}

/* active tab style */
#tab-announcements:checked ~ .mobile-header label[for="tab-announcements"],
#tab-events:checked ~ .mobile-header label[for="tab-events"]{

  border:1px solid var(--color-altText); 
  border-bottom:none;
  border-radius:6px 6px 0 0;

  background: var(--color-primary);
  color: var(--color-altText);
  font-weight:600;

  position:relative;
  top:1px;
}

.mobile-content{
  border:1px solid var(--color-altText);
  border-radius:6px;

  padding:14px;
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary),
    var(--color-accent2)
  );
}

/* hide content by default */
.mobile-content > div {
  display: none;
  padding-top: 10px;
}

/* show selected content */
#tab-announcements:checked ~ .mobile-content #announcements-mobile-content {
  display: block;
}

#tab-events:checked ~ .mobile-content #events-mobile-content {
  display: block;
}

#tab-announcements:checked ~ .mobile-content{
  border-top-left-radius:0;
}

#tab-events:checked ~ .mobile-content{
  border-top-right-radius:0;
}

.mobile-content li{
  margin-bottom:8px;
  line-height:1.4;
  font-family: var(--font-heading);
  color: var(--color-altText);
}

.mobile-content div{
  animation:fade 0.25s ease;
}

@keyframes fade{
  from{
    opacity:0;
    transform:translateY(4px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}
}

/* =========================
   Reduced Motion
   ========================= */

@media (prefers-reduced-motion: reduce) {
  .announcements__list {
    transition: none;
  }
}

/* =========================
   At a Glance Section
   ========================= */

.grid_at-glance {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.card_at-glance {
  background: white;
  border-radius: 16px;
  padding: 20px 20px 10px 20px;
  text-align: center;
  box-shadow: 0 15px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card_at-glance p {
  margin: 0px;
  line-height: 1.5;
}

.card_at-glance:hover {
  transform: translateY(-5px);
}

.icon {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: var(--color-altText);
  margin-bottom: 10px;
}

/* Hospitals for Clinical Practice */

.hospital-section {
  margin-top: 4rem;
}

.hospital-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 1rem;
}

.hospital-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px; /*controls visual size*/
  width: 100%;
}

.hospital-logo img {
  max-height: 100%;  //let the img scale inside teh box
  max-width: 100%;
  object-fit: contain;
}

/*Accordion Display*/

.accordion-layout {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 3rem 0 3rem 0;
}

.accordion-display {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.accordion-item {
  position: relative;
  height: 100%;
  cursor: pointer;
  flex: 1;
  transition: flex-grow 1s ease 0.4s;
}

.accordion-item img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.accordion-item span {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  color: var(--color-altText);
  font-size: 2.5rem;
  font-weight: 600;

  transform: translate(-50%, -50%);
  opacity: 1;

  transition: opacity 0.8s ease;
}

.accordion-item p {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  color: var(--color-altText);
  font-size: 1.2rem;
  font-weight: 600;

  opacity: 0;
  transform: translate(-50%, 0%);

  transition:
    opacity 0.8s ease,
    transform 1.4s ease;
}

/* shrink others */
.accordion-display:hover .accordion-item {
  flex: 1;
}

/* expand hovered */
.accordion-display .accordion-item:hover {
  flex: 2.5;
}

.accordion-display .accordion-item:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.accordion-display .accordion-item:hover p {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-delay: 1s;
}

.educational-program-pd-class {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* =========================
   Seminar Section
========================= */

.seminar-section {
  background-image: linear-gradient(-135deg, var(--color-secondary), var(--color-primary), var(--color-secondary), var(--color-accent2));
  margin-top: 5rem;
  padding: 0.1rem 0 0 0;
}

/* =========================
   Layout
========================= */

.programmes-layout {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 4rem;
  margin: 2rem 0 0 0;
  padding: 0 0 2rem 0;
}

/* =========================
   Left Column
========================= */

.programmes-media img {
  width: 100%;
  border-radius: 8px;
}

.programmes-note {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* =========================
   Right Column
========================= */

.programmes-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.program-grid {
  display: grid;
  gap: 2rem;
  margin-top: 1.5rem;
}

/* =========================
   Program Card
========================= */

.program-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
  border: 2px solid black;
  background-color: var(--color-altText2);

  transition: 
    transform 350ms ease,
    color 350ms ease;
}

.program-card:hover {
  border: 2px solid var(--color-altText);
  transform: scale(1.1);
}

.program-date {
  display: flex;
  gap: 0.75rem;
}

/* =========================
   View All Button
========================= */

.view-all-button__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.view-all-button {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
  border: 2px solid black;
  background: transparent;
  color: var(--color-heading);
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.view-all-button:hover {
  background: var(--color-heading);
  color: var(--color-altText);
}

/* =========================
   Responsive
========================= */

@media (max-width: 992px) {
  .programmes-layout {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .programmes-content {
    gap: 3rem;
  }
}

@media (max-width: 768px) {

  .program-heading {
    font-size: 1.25rem;
  }

  .program-card__date {
    font-size: 1rem;
  }

  .view-all-button__wrapper {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .view-all-button__wrapper .__line {
    width: 12rem;
  }

}

/* Testimonials Section  */
.generic-heading__row--testimonials {
  justify-content: center;
  margin-bottom: 2rem;
}

.carousel {
  background-image: linear-gradient(to bottom, var(--color-primary), var(--color-secondary), var(--color-accent2));
  border: 2px solid var(--color-accent2);
  border-radius: 0.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  height: 480px;
  width: auto; 
}

.testimonial-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 1rem;
  transition: transform 0.6s ease;
  will-change: transform;
}

.testimonial-card-list li {
  flex: 0 0 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 440px;
  width: 440px;
  border-radius: 0.5rem;
  gap: 1rem;
  scroll-snap-align: center;
}

.card-description {
  display: flex;
  flex-direction: column;
}

.card-description__text {
  font-size: var(--fs-base);
  color: var(--color-text);
  height: 243px;
  width: auto;
  text-align: center;
  font-weight: 550;
}

.card-description__text::before,
.card-description__text::after
 {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  color: #e0b724;
  content: "\f10e"; 
  margin: 0 10px 0 10px;
}

.person-info-grid {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 1rem;
  /* width: 90px; */
  
}

.person-info-grid img {
  height: 150px;
  width: 150px;
}

.person-info {
  /* flex-shrink: 0; */
  font-size: 24px;
}

/* =========================
   Responsive
========================= */
