<section class="flex  bg-[#293519] h-8 w-full pt-2">
    <div class="container">
        <div class=""></div>
    </div>
</section>

<!--About Us Heading-->
<div class="block">
    <div class="pt-[50px] pb-3 flex flex-row items-center">
        <div class="flex items-center">
            <h1 class="text-4xl font-semibold text-[#223318] pr-3 ">About Us</h1>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>
</div>

<!--About Us Message-->
<section>
    <div class="block pb-20">
        <div class="flex flex-row justify-between">
            <div class="Message pr-5">
                <h4 class="message-title font-semibold text-2xl">Welcome back to a promising Academic Year! Exciting
                    Opportunities await you.
                </h4>
                <p>
                    As we embark on another academic year at Bright School of Nursing. I want to express my
                    heartfelt appreciation for the dedication and resilience each of you brings. In the noble
                    pursuit of shaping compassionate and skilled healthcare professionals, your efforts contribute
                    significantly to the success and reputation of our Instituiton. Together let us continue
                    fostering an environment of excellence, innovation and empathy.

                </p>
                <p>
                    I have full confidence in the capabilities of our faculty to impart knowledge and mentor our
                    aspiring nurses to be. Your journey here is a stepping stone to a rewarding and impactful career
                    ahead. Embrace every opportunity for growth and learning. Remember good listeners are perpetual
                    learners. Seek Support when needed, and always believe in your ability to overcome obstacles.
                    Your success is not just a personal achievement but also a testament to the strength of our
                    academic community. Let us uphold the values of integrity, compassion, and professionalism that
                    defines our Instituiton.
                </p>
                <p>
                    May this year bring forth achievements, camaraderie, and shared success. I am proud to lead such
                    a dedicated community, and I look forward to witnessing the continued accomplishments of our
                    nursing college.
                </p>
                <p class="font-semibold">
                    Wishing you a journey filled with success, personal growth and the realization of your dreams.
                </p>
            </div>

            <div class="additional-info">
                <div class="flex flex-col items-center ">
                    <div>
                        <h3 class="text-2xl whitespace-nowrap">Additional Information</h3>
                    </div>

                    <div class="flex flex-col items-center gap-2">
                        <p>Director Message</p>
                        <p>Campus Life</p>
                        <p>Academics</p>
                        <p>Lab Facilities</p>
                        <p>Contacts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>