<section class="flex  bg-[#293519] h-8 w-full pt-2">
    <div class="container">
        <div class=""></div>
    </div>
</section>

<!--All Contacts Heading-->
<div class="block">
    <div class="pt-[50px] pb-3 flex flex-row items-center">
        <div class="flex items-center">
            <h1 class="text-4xl font-semibold text-[#223318] pr-3 ">All Contacts</h1>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>
</div>

<div class="block pb-20">
    <table class="contact-table">
        <thead>
            <tr>
                <th rowspan="2">Name &amp; Status</th>
                <th>Mobile No.</th>
                <th rowspan="2">E-mail id</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr class="section-row">
                <td colspan="4"><span class="font-semibold">DIRECTOR</span></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>Er. Bijay Kumar Jena</td>
                <td>9124183801</td>
                <td>bijayjena2000@gmail.com</td>

            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr class="section-row">
                <td colspan="4"><span class="font-semibold">VICE CHAIRMAN</span></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>Nirupama Swain</td>
                <td>7682911756</td>
                <td>nirupamaswain2000@gmail.com</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr class="section-row">
                <td colspan="4"><span class="font-semibold">FACULTY</span></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>Krishna</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Pallabi</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Pallabi</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr class="section-row">
                <td colspan="4"><span class="font-semibold">STAFF</span></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>Raja</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Vikram</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tbody>
    </table>
</div>