<!--Announcements tab-->
<div class="mt-20">
    <div class="block w-[1256px] h-16 items-center ml-30 mr-30 border-8 border-black" type="text"
        placeholder="Announcements">
        <div class="flex flex-row items-center h-12 border-4 border-[#b22222]">
            <div class="flex relative h-10 items-center border-r-3 border-[#b22222] announce-label">
                <span class="px-3 font-bold text-lg">Announcements</span>
            </div>
            <div class="h-fill w-fill overflow-hidden flex">
                <ul class="announce-slider ">
                    <li class="announce-item"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Voluptatibus
                            laboriosam,</a></li>
                    <li class="announce-item"><a href="#">Exams Scheduled on these dates</a></li>
                    <li class="announce-item"><a href="#">Seminar Scheduled on these dates</a></li>
                    <li class="announce-item"><a href="#">&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--At a glance tab-->
<div class="block">
    <div class="mt-20 flex flex-row items-center">
        <div class="flex items-center">
            <div class="h-10 border-l-4 border-red-600 pr-3"></div>
            <h1 class="text-4xl font-semibold text-[#223318] pr-3 ">Bright School of Nursing at a Glance</h1>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>
</div>

<!--Instituiton numbers-->
<section class="count-Instituiton-numbers pt-15 pb-20">
    <div class="block">
        <div class="flex flex-row justify-between w-[800px]">
            <div class="count-area-content">
                <div class="count-digit-holder">
                    <span class="count-digit counter-loaded">1</span>
                    <span class="plus">+</span>

                </div>
                <div class="count-title-holder">
                    <p class="inline underline">Branches</p>
                </div>
            </div>
            <div class="count-area-content">
                <div class="count-digit-holder ">
                    <span class="count-digit counter-loaded">5</span>
                    <span class="plus">+</span>

                </div>
                <div class="count-title-holder">
                    <p class="inline underline">Medical Courses</p>
                </div>
            </div>
            <div class="count-area-content">
                <div class="count-digit-holder">
                    <span class="count-digit counter-loaded">300</span>
                    <span class="plus">+</span>

                </div>
                <div class="count-title-holder">
                    <p class="inline underline">Students</p>
                </div>
            </div>
            <div class="count-area-content">
                <div>
                    <div class="count-digit-holder">
                        <span class="count-digit counter-loaded">100</span>
                        <span class="plus">+</span>

                    </div>
                    <div class="count-title-holder ">
                        <p class="inline underline">Placement Partners</p>
                    </div>
                </div>
            </div>
        </div>

</section>

<!--Photo of campus, labs, faculities at once accordion style-->
<section class="relative h-[400px] mb-20 max-w-full overflow-hidden">
    <!--Dark Overlay-->
    <div class="absolute inset-0 max-w-dvw max-h-dvh bg-black/45 z-10"></div>

    <div class="accordion-display">
        <div class="accordion-item">
            <img src="/Images/test img/1961pic.webp" alt="">
            <p class="text-white text-4xl z-10 items-center">Labs</p>
        </div>
        <div class="accordion-item">
            <img src="/Images/test img/1963pic.webp" alt="">
            <p class="text-white text-4xl z-10 items-center">Labs</p>
        </div>
        <div class="accordion-item">
            <img src="/Images/test img/2000pic.webp" alt="">
            <p class="text-white text-4xl z-10 items-center">Labs</p>
        </div>
        <div class="accordion-item">
            <img src="/Images/test img/2008pic.webp" alt="">
            <p class="text-white text-4xl z-10 items-center">Labs</p>
        </div>
    </div>
</section>

<!--Permitted & recognized by-->
<div class="block mb-20">
    <!--Heading-->
    <div class="flex flex-row items-center mb-8">
        <div class="flex items-center">
            <h2 class="text-3xl font-semibold text-[#223318] pr-3 ">Permitted & recognized by</h2>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>

    <!--Content under the heading-->
    <div class="block">
        <div class="flex flex-row">
            <div class="flex flex-col items-center justify-between">
                <div class="flex flex-row items-center">
                    <img src="/Images/logo/HFW_Dept.png"
                        alt="Health & Family Welfare Department Govt. of Odisha,Bhubaneswar" class="h-25 w-25">
                </div>
                <div class="flex flex-row items-center justify-between">
                    <span class="text-base font-bold">Health & Family Welfare Department Govt. of
                        Odisha,Bhubaneswar</span>
                    <span class="text-base font-bold">Education & Training Odisha, Bhubaneswar (DME&T)</span>
                </div>
            </div>

            <div class="flex flex-col items-center justify-between">
                <div>
                    <img src="/Images/logo/ONMRC.png"
                        alt="Odisha Nurses & Midwives Registration Council,Bhubaneswar (ONMRC)" class="h-25 w-30">
                </div>
                <span class="text-base font-bold">Odisha Nurses & Midwives Registration Council, Bhubaneswar (ONMRC)
                </span>
            </div>
        </div>

    </div>
</div>

<!--Hospitals for Clinical Practice-->
<div class="block">
    <div class="flex flex-row items-center">
        <div class="flex items-center">
            <h1 class="text-3xl font-semibold text-[#223318] pr-3 ">Hospitals for Clinical Practice</h1>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>

    <!--Hosp logo-->
    <div class="block mt-8">
        <div class="grid grid-cols-3 items-center gap-10">
            <div>
                <img src="/Images/logo/Hospitals/khurdha.png" alt="District Head Quarters Hospital,Khordha">
            </div>
            <div>
                <img src="/Images/logo/Hospitals/LOGO_igkc.png" alt="IGKC Multispeciality Hospital,Bhubaneswar"
                    class="h-30 w-60 ml-10 ">
            </div>
            <div>
                <img src="/Images/logo/Hospitals/cares-logo.webp" alt="Care Hospitals,Bhubaneswar"
                    class="h-40 w-50 ml-10">
            </div>
            <div>
                <img src="/Images/logo/Hospitals/Aditya_Ashwini.jpg" alt="Aditya Ashwini Hospital,Bhubaneswar"
                    class="-ml-4">
            </div>
            <div>
                <img src="/Images/logo/Hospitals/capital.png" alt="Capital Hospital,Bhubaneswar" class="h-16">
            </div>
            <div>
                <img src="/Images/logo/Hospitals/BMC.png" alt="Bhubaneswar Municipal Corporation Hospital,Bhubaneswar"
                    class="h-14">
            </div>
        </div>
        <div class="custom-block flex flex-row items-center justify-between">
            <div class="flex flex-col items-center">
                <div>
                    <img src="/Images/logo/Hospitals/CHC.png" alt="C.H.C Mendhasal,Khordha">
                </div>
                <h2 class="text-2xl">C.H.C Mendhasal,Khordha</h2>
            </div>
            <div>
                <img src="/Images/logo/Hospitals/gen-x-diagnostics.jpg" alt="GenX Diagnostics,Bhubaneswar"
                    class="h-30 w-60">
            </div>
        </div>
    </div>


</div>

<!--Education Programmes and Seminars-->
<section class="bg-[#293519] h-[1100px] mt-20 mb-100">
    <div class="block">
        <!--Heading-->
        <div class="flex flex-row items-center mb-8 pt-25">
            <div class="flex items-center">
                <h2 class="seminar-heading text-3xl font-semibold pr-3">Education Programmes & Seminars</h2>
            </div>

            <div class="flex flex-row items-center">
                <div class="bg-white h-px w-64"></div>
                <div class="bg-white h-2.5 w-2.5 rounded-full"></div>
            </div>
        </div>

        <!--Content under the Heading-->
        <div class="flex flex-row">
            <!--Photo animation of Seminars-->
            <div class="flex flex-col justify-between">
                <img src="/Images/College_Building_hor.jpg " alt="">
                <div>
                    <div class="flex items-center pt-2">
                        <div class="h-10 border-l-4 border-red-600 pr-3"></div>
                        <span class="seminar-heading text-base text-white ">For <span class="font-bold text-lg">Custom
                                Programmes & Seminars</span>,
                            please write to brightschoolofnursing[at]gmail[dot]com
                        </span>
                    </div>
                </div>
            </div>
            <!--Seminar text links-->
            <div class="flex flex-col items-center">
                <div class="block">
                    <h2 class="seminar-heading text-3xl font-semibold pb-6">Educational Programmes</h2>
                    <div class="pb-10">
                        <div class="flex flex-col border-white border">
                            <ul class="educational-program-pd-class">
                                <li><span class="seminar-heading text-xl font-bold ">Analytics</span></li>
                                <li>
                                    <div class="flex items-center pt-2">
                                        <div class="h-10 border-l-4 border-red-600 pr-3"></div>
                                        <h1 class="seminar-heading text-lg font-bold text-white ">15th - 19th
                                            December
                                        </h1>
                                    </div>
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="pb-10">
                        <div class="flex flex-col border-white border">
                            <ul class="educational-program-pd-class">
                                <li><span class="seminar-heading text-xl font-bold ">Soemthing Else</span></li>
                                <li>
                                    <div class="flex items-center pt-2">
                                        <div class="h-10 border-l-4 border-red-600 pr-3"></div>
                                        <h1 class="seminar-heading text-lg font-bold text-white ">3rd - 9th
                                            December
                                        </h1>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="view-all-button flex flex-row items-center">
                            <div class="flex items-center pr-8">
                                <button
                                    class="seminar-heading text-Base font-semibold border-white border-3 h-12 w-30 shrink-0 ">View
                                    All</button>
                            </div>

                            <div class="flex flex-row items-center">
                                <div class="bg-white h-px w-64"></div>
                                <div class="bg-white h-2.5 w-2.5 rounded-full"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block pt-6">
                    <h2 class="seminar-heading text-3xl font-semibold pb-6">Seminars Conducted</h2>
                    <div class="pb-10">
                        <div class="flex flex-col border-white border">
                            <ul class="educational-program-pd-class">
                                <li><span class="seminar-heading text-xl font-bold ">Seminar 1</span></li>
                                <li>
                                    <div class="flex items-center pt-2">
                                        <div class="h-10 border-l-4 border-red-600 pr-3"></div>
                                        <h1 class="seminar-heading text-lg font-bold text-white ">15th - 19th
                                            December
                                        </h1>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pb-10">
                        <div class="flex flex-col border-white border">
                            <ul class="educational-program-pd-class">
                                <li><span class="seminar-heading text-xl font-bold ">Seminar 2</span></li>
                                <li>
                                    <div class="flex items-center pt-2">
                                        <div class="h-10 border-l-4 border-red-600 pr-3"></div>
                                        <h1 class="seminar-heading text-lg font-bold text-white ">3rd - 9th
                                            December
                                        </h1>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="view-all-button flex flex-row items-center">
                            <div class="flex items-center pr-8">
                                <button
                                    class="seminar-heading text-Base font-semibold border-white border-3 h-12 w-30 shrink-0 ">View
                                    All</button>
                            </div>

                            <div class="flex flex-row items-center">
                                <div class="bg-white h-px w-64"></div>
                                <div class="bg-white h-2.5 w-2.5 rounded-full"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>