h1,
h2,
h3,
h4,
h5,
h6 {
  color: #293519;
  font-family: "Playfair Display", serif !important;
  font-weight: 700;
}

body {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.seminar-heading {
  color: white;
}

.block {
  margin-left: 130px;
  margin-right: 130px;
}

.custom-block {
  margin-left: 160px;
  margin-right: 160px;
  padding-top: 36px;
}

.footer-block {
  margin-left: 60px;
  margin-right: 60px;
}

.container {
  margin-left: 110px;
  margin-right: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.announce-label::after {
  content: "";
  position: absolute;
  right: -11px;
  top: 7px;
  background: url("../Images/SVG/hm-news-arroww.svg") no-repeat scroll 0 0;
  width: 15px;
  height: 29px;
  z-index: 3;
}

.announce-slider {
  display: inline-flex;
  align-items: center;
  will-change: transform;
}

.announce-item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
}

.announce-item::before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  width: 2px;
  height: 20px;
  background-color: #b22222;
}

.announce-item::after {
  content: "";
  display: inline-block;
  margin-left: 0.4rem;
  width: 18px;
  height: 18px;
  background: url("../Images/SVG/circle-check.svg") no-repeat center;
  background-size: contain;
}

.count-digit-holder {
  font-size: 48px;
  text-align: left;
}

.count-digit-holder .plus {
  margin-left: -12px;
}

.count-title-holder {
  font-size: 14px;
  text-align: left;
}

.educational-program-pd-class {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-padding {
  padding-left: 24px;
  padding-right: 24px;
}
