h1,
h2,
h3,
h4,
h5,
h6 {
  color: #293519;
  font-family: "Playfair Display", serif !important;
  font-weight: 700;
}

body {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.seminar-heading {
  color: white;
}

.block {
  margin-left: 130px;
  margin-right: 130px;
}

.custom-block {
  margin-left: 160px;
  margin-right: 160px;
  padding-top: 36px;
}

.footer-block {
  margin-left: 60px;
  margin-right: 60px;
}

.container {
  margin-left: 110px;
  margin-right: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

/*Search Bar*/

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  /* z-index: 40; */
}

.close-btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  /* z-index: 60; */
}

.search-container.show {
  opacity: 1;
  visibility: visible;
}

.close-btn.show {
  opacity: 1;
  visibility: visible;
}

.search-bar {
  height: 64px;
  width: 780px;
  font-size: 18px;
  color: white;
  padding-left: 30px;
  border: 3px solid white; /* width + style + color */
  border-radius: 32px 0 0 32px;
}

.search-bar:hover {
  border: 1px solid rgba(200, 200, 200);
}

.search-bar::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/*Announcements tab*/

.announce-label::after {
  content: "";
  position: absolute;
  right: -11px;
  top: 7px;
  background: url("../Images/SVG/hm-news-arroww.svg") no-repeat scroll 0 0;
  width: 15px;
  height: 29px;
  z-index: 3;
}

.announce-slider {
  display: inline-flex;
  align-items: center;
  will-change: transform;
}

.announce-item {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
}

.announce-item::before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  width: 2px;
  height: 20px;
  background-color: #b22222;
}

.announce-item::after {
  content: "";
  display: inline-block;
  margin-left: 0.4rem;
  width: 18px;
  height: 18px;
  background: url("../Images/SVG/circle-check.svg") no-repeat center;
  background-size: contain;
}

/*count-digits*/

.count-digit-holder {
  font-size: 48px;
  text-align: left;
}

.count-digit-holder .plus {
  margin-left: -12px;
}

.count-title-holder {
  font-size: 14px;
  text-align: left;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  background: #b22222;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 4px;
  transform: scaleX(0);
  transition: all 0.4s ease;
}

.underline:hover::after {
  transform: scaleX(1); /* Animate in */
}

/*Accordion Display*/

.accordion-display {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  items-align: center;
}

.accordion-item {
  position: absolute;
  height: 100%;
}

.accordion-item:nth-child(1) {
  z-index: 1;
  transform: translateX(0%);
}
.accordion-item:nth-child(2) {
  z-index: 2;
  transform: translateX(25%);
}
.accordion-item:nth-child(3) {
  z-index: 3;
  transform: translateX(50%);
}
.accordion-item:nth-child(4) {
  z-index: 4;
  transform: translateX(75%);
}

.educational-program-pd-class {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-padding {
  padding-left: 24px;
  padding-right: 24px;
}

/*go-top button*/

.go-top {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
  width: 48px;
  right: 50px;
  bottom: 60px;
  transform: translate(4rem, 4rem);
  z-index: 50;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.go-top.show {
  transform: translate(-1.5rem, -1.5rem);
  opacity: 1;
  visibility: visible;
}

.go-top i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0;
  transition: all 0.6s ease;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top:hover {
  background: grey;
}

.go-top:hover i {
  color: black;
}

.go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child {
  opacity: 1;
  top: 50%;
  visibility: visible;
}
