/*About Us*/

/* LEFT SIDE LIST */
.institutes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* CARD */
.institute-card {
  background: white;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);

  transition: all 0.25s ease;
}

/* HEADER (LOGO + TITLE) */
.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-header img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

/* COURSES */
.card-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-left: 3rem;
}

/* COURSE PILLS */
.course-pill {
  text-decoration: none;
  font-size: 1.2rem;

  padding: 0.4rem 1rem;
  border-radius: 999px;

  background: var(--color-primary);
  color: var(--color-accent2);
  outline: 3px solid var(--color-accent2);
  font-weight: 700;
  transition: all 0.2s ease;
}

/* HOVER */
.course-pill:hover {
  background: transparent;
  color: var(--color-accent2);
  border: 2px solid var(--color-primary);
  font-weight: 700;
}

/* IMAGE SIDE */
.institutes-image img {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
  border-radius: 2rem;
}

#bright-group-institutions,
#about-institution,
#mission-vision,
#accreditions {
  scroll-margin-top: 10rem;
}

.info-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 1em; */
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.additional-info__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: 1rem;
}

.additional-info ul li {
  font-size: 1.1rem;
}

/* Permitted & recognized by */

.recognition-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recognition-logo {
  height: 180px;
  width: auto;
}

@media (max-width: 768px) {
  .info-section {
    display: none;
  }

  .recognition-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 1rem;
  }

  .recognition-logo {
    height: 150px;
    width: auto;
  }
}
