#contacts,
#calendar {
  scroll-margin-top: 10rem;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 0 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card img {
  height: 210px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card h5 {
  margin: 20px 0 5px;
  color: #0f2a44;
}

.card .role {
  color: #c8a75b;
  font-weight: 600;
  display: block;
}

.card p {
  line-height: 1.5;
}

.card a,
.join-us a {
  background: #0f2a44;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.horizontal {
  display: flex;
  gap: 20px;
  text-align: left;
}

.horizontal img {
  height: 210px;
  width: auto;
}

.join-us {
  background-color: #f8f1e7;
  margin: 2rem 0 -4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-us > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8rem;
}

.join-us img {
  height: 5rem;
  width: auto;
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: 2px solid #c8a75b;
}

.join-us span {
  color: #0f2a44;
  line-height: 1.5;
  flex-wrap: wrap;
  width: 500px;
}

.join-us a {
  margin-right: 8rem;
}
