<!--Go to Top button-->
<div class="">
    <button class="h-12 w-12 rounded-4xl bg-black cursor-pointer go-top">
        <i class="ri-arrow-up-s-line ri-2x text-white"></i>
        <i class="ri-arrow-up-s-line ri-2x text-white "></i>
    </button>
</div>