<section class="flex  bg-[#293519] h-8 w-full pt-2">
    <div class="container">
        <div class=""></div>
    </div>
</section>

<!--B.Sc. Nursing heading-->
<div class="block ">
    <div class="py-[50px] mt flex flex-row items-center">
        <div class="flex items-center">
            <h1 class="text-4xl font-semibold text-[#223318] pr-3 ">GNM at Bright College of Nursing</h1>
        </div>

        <div class="flex flex-row items-center">
            <div class="bg-black h-px w-64"></div>
            <div class="bg-black h-2.5 w-2.5 rounded-full"></div>
        </div>
    </div>
</div>

<div class="block pb-24">
    <div class=" flex flex-row items-center">
        <div class="flex items-center">
            <div class="h-10 border-l-4 border-red-600 pr-3"></div>
            <h1 class="text-3xl font-semibold text-[#223318] pr-3 ">Program Overview</h1>
        </div>
    </div>
    <p>
        GNM (General Nurse Midwife) is a 3 year undergraduate program combining theory () and
        practical training (lab training & clinical rotation) to prepare competent nurses to cater towards
        excellent
        patient care, adequate assistance to Doctors, community health, clinical ethics and leadership roles.
    </p>
    <h2 class="text-2xl font-medium">Why choose Bright Nursing for GNM Nursing?</h2>
    <ul class="li-bullet">
        <li>Comprehensive Cirriculum
        </li>
        <li>Expert Faculty</li>
        <li>Well equipped lab facilities</li>
        <li>Practical training</li>
        <li>Career prospects</li>
    </ul>
    <div class=" flex flex-row items-center pt-5">
        <div class="flex items-center">
            <div class="h-10 border-l-4 border-red-600 pr-3"></div>
            <h1 class="text-3xl font-semibold text-[#223318] pr-3 ">Eligibility Criteria</h1>
        </div>
    </div>
    <ul class="li-bullet">
        <li>Comprehensive Cirriculum
        </li>
        <li>Expert Faculty</li>
        <li>Well equipped lab facilities</li>
        <li>Practical training</li>
        <li>Career prospects</li>
    </ul>
    <div class=" flex flex-row items-center pt-5">
        <div class="flex items-center">
            <div class="h-10 border-l-4 border-red-600 pr-3"></div>
            <h1 class="text-3xl font-semibold text-[#223318] pr-3 ">Course Duration</h1>
        </div>
    </div>
    <ul class="li-bullet">
        <li class="text-justify"><span class="font-semibold text-xl">3 years</span> of comprehensive journey towards
            shaping your future into a
            capable nurse contributing towards a prosperous community health, excellent patient care and an
            immaculate career going forward.
        </li>
    </ul>
</div>